.pixel-blast-optimized-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.pixel-blast-optimized-container canvas {
    display: block;
    width: 100%;
    height: 100%;
}